Fructus.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Fructus.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Fructus.xcodeproj/project.xcworkspace/xcuserdata/noelvelasco.xcuserdatad/UserInterfaceState.xcuserstate
Fructus.xcodeproj/xcuserdata/noelvelasco.xcuserdatad/xcschemes/xcschememanagement.plist
